services:
  - type: web
    name: secret-santa
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 10000
    disk:
      name: data
      mountPath: /app
      sizeGB: 1
